
.root{
	-fx-font-size: 20 px;
	-fx-font-family: "Garamond";
	-fx-background-color: #ffffcc;
}

.header-section{
	-fx-padding: 10px;
	-fx-font-size: 20px;
	-fx-background-color: teal;
}

.header-section Label, #footer-section Label{
	-fx-text-fill: #ffffff;
	-fx-padding: 10px;
	-fx-font-family: "Georgia";
}
GridPane TextField{
	-fx-font-family: "Verdana";
	-fx-font-size: 18 px;
}
#footer-section{
	-fx-alignment: center;
	-fx-padding: 10 10 10 10;
	-fx-border-width: 1;
	-fx-border-color: #E8E8E8 transparent transparent transparent;
	-fx-background-color: teal;
	-fx-font-size: 20px;
}

#logintext{
	-fx-font-size: 26px;
}
.sidebar-section{
	-fx-min-width: 250px;
	-fx-pref-width: 250px;
	-fx-max-width: 250px;
	-fx-border-width: 1;
	-fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sidebar-section Button{
	-fx-font-size: 18px;
	-fx-padding: 10 15 10 15;
	-fx-border-width: 1;
	-fx-border-color: transparent transparent transparent transparent;
	-fx-min-width: 200px;
	-fx-pref-width: 200px;
	-fx-max-width: 200px;
	-fx-font-family: "Georgia";
}

.content-section{
	-fx-font-size: 22px;
	-fx-font-family: "Garamond";
	
}

.content-section #depositConfirmation, #updatedBalance, #transferConfirmation, #lastTransactionDisplay, #accountDetailsDisplay{
	-fx-font-size: 16px;
	-fx-font-family: "Garamond";
}